:root {
  --very-dark-blue: hsl(216, 12%, 8%);
  --dark-blue: hsl(213, 19%, 18%);
  --medium-grey: hsl(216, 12%, 54%);
  --light-grey: hsl(217, 12%, 63%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--very-dark-blue);
}

#card{
  background-color: var(--dark-blue);
  width: 500px;
  height: 380px;
  margin: auto;
  margin-top: 290px;
  
}

.ratting{
  background-color: var(--dark-blue);
  margin: auto;
  margin-top: 190px;
  width: 470px;
  height: 400px;
  padding: 40px;
  border-radius: 30px;
}

#icon{
  background-color: rgba(211, 211, 211, 0.218);
  padding: 10px;
  border-radius: 50%;
}

#mensage > h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  padding: 12px;
}

#mensage > p{
  padding: 8px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light-grey);
}