:root {
  --very-dark-blue: hsl(216, 12%, 8%);
  --dark-blue: hsl(213, 19%, 18%);
  --medium-grey: hsl(216, 12%, 54%);
  --light-grey: hsl(217, 12%, 63%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--very-dark-blue);
}

#card{
  background-color: var(--dark-blue);
  width: 500px;
  height: 400px;
  margin: auto;
  margin-top: 290px;
  padding: 30px;
  border-radius: 20px;
}


#icon{
  background-color: rgba(124, 122, 122, 0.162);
  padding: 10px;
  border-radius: 50%;
}

#mensage > h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  padding: 12px;
}

#mensage > p{
  padding: 8px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light-grey);
}

#container-btns{
  display: flex;
  margin-top: 40px;
  justify-content: center;
}


li{
  list-style: none;
  align-items: center;
  justify-content: center;
}

.rate-btn{
  margin-right: 30px;
  padding: 18px;
  border-radius: 50%;
  border: none;
  width: 50px;
  background-color: rgba(128, 128, 128, 0.216);
  color: var(--light-grey);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}

.rate-btn:hover{
  background-color: var(--light-grey);
  color: white;
}

#submit-btn{
  
}