@import url('https://fonts.googleapis.com/css2?family= Viaduto & display = swap');
:root{
    --very-dark-blue:hsl(216, 12%, 8%);
    --dark-blue:hsl(213, 19%, 18%);
    --medium-grey: hsl(216, 12%, 54%);
    --light-grey:hsl(217, 12%, 63%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:var(--very-dark-blue);
    font-family: 'Overpass', sans-serif;
}

#avaliation-form{
    background-color:var(--dark-blue);
    width: 25vw;
    height: 50vh;
    padding: 25px;
    margin: 30vh auto;
    color: white;
    border-radius: 18px;
}

#avaliation-form > h1{
    padding: 10px;
    margin-top: 20px; 
}

#avaliation-form{
    
}

span{
    background-color: rgba(255, 255, 255, 0.074);
    padding: 12px;
    border-radius: 50%;
    text-align: center;
}

span > img{
    margin-top: 20px;
}